form {
  background: #487eb0;
  margin-left: 2% !important;
  margin-right: 2% !important;
  margin-bottom: 3% !important;
}
form input {
  width: 30% !important;
}
input[type="button"] {
  width: 15% !important;
}
input {
  margin-left: 1% !important;
  width: 340px !important;
}
article {
  margin-left: 2% !important;
  margin-right: 2% !important;
  margin-top: 10px !important;
}
